<%= form_with(model: inventory) do |form| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>
      <ul>
        <% inventory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>
  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>
  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <h4><em>Note that the following measurements should be in metres</em></h4>
  <div class="field">
    <%= form.label :width %>
    <%= form.text_field :width %>
  </div>
  <div class="field">
    <%= form.label :length %>
    <%= form.text_field :length %>
  </div>
  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>
  <div class="field">
    <%= form.label :warehouse_id %>
    <%= form.collection_select(:warehouse_id, Warehouse.all, :id, :location) %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
