<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @inventory.product_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @inventory.amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory.price %>
</p>

<p>
  <strong>Width:</strong>
  <%= @inventory.width %>
</p>

<p>
  <strong>Length:</strong>
  <%= @inventory.length %>
</p>

<p>
  <strong>Height:</strong>
  <%= @inventory.height %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
