<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @inventory.product_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @inventory.amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@inventory.price) %>
</p>

<p>
  <strong>Width:</strong>
  <%= @inventory.width %> m
</p>

<p>
  <strong>Length:</strong>
  <%= @inventory.length %> m
</p>

<p>
  <strong>Height:</strong>
  <%= @inventory.height %> m
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
